body {
    background-color: hsl(0, 4%, 74%);
    width: 375px;
}

#main-box {
    width: 325px;
}

#box1,
#box5 {
    background-color: hsl(256, 67%, 59%);
}

#box4 {
    background-color: hsl(254, 88%, 90%);
}

#box7 {
    background-color: hsl(31, 66%, 93%);
}

#box3,
#box8 {
    background-color: hsl(39, 100%, 71%);
}

#box2,
#box6 {
    background-color: hsl(0, 0%, 100%);
}

#box1 {
    color: hsl(0, 0%, 100%);
    width: 325px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

#box1 h1 #i1 {
    color: hsl(39, 100%, 71%);
    font-style: normal;
}

#box1 img {
    height: 30px;
}

#box2 {
    width: 325px;
    color: black;
    padding: 15px;
    border-radius: 10px;
}

#box2 h3 {
    font-size: large;
}

#box2 img {
    height: 65px;
}

#box3 {
    width: 325px;
    color: black;
    padding: 15px;
    border-radius: 10px;
}

#box3 {
    text-align: center;
}

#box3 img {
    height: 145px;
}

#box4 {
    text-align: center;
    color: hsl(0, 0%, 7%);
    width: 325px;
    padding: 15px;
    border-radius: 10px;

}

#box4 img {
    height: 145px;
}

#box5 {
    text-align: center;
    color: hsl(0, 0%, 100%);
    width: 325px;
    padding: 15px;
    border-radius: 10px;

}

#box5 img {
    height: 145px;
}

#box6 {
    width: 325px;
    padding: 15px;
    border-radius: 10px;

}

#box6 img {
    height: 55px;
    width: 145px;
}

#box7 img {
    height: 65px;
    width: 225px;
}

#box6 b {
    font-size: xx-large;
}

#box7 {
    text-align: center;
    width: 325px;
    padding: 15px;
    border-radius: 10px;

}

#box7 h2 {
    font-size: xx-large;
    text-align: justify;
}

#i2 {
    color: hsl(256, 67%, 59%);
}

#box8 {
    width: 325px;
    padding: 15px;
    border-radius: 10px;

}

#box8 img {
    height: 145px;
}

#box8 h2 {
    text-align: justify;
    font-size: xx-large;
}

.box {
    margin: 20px 10px;
}

/* Larger screen */
@media (min-width:1200px) {
    body {
        height: 1029px;
        width: 1440px;
    }

    #main-box {
        width: 1200px;
        height: 875px;
    }

    #box1 {
        margin-left: 450px;
        height: 300px;
        margin-bottom: -138px;
        width: 550px;
        height: 275px;

    }

    #box2 {
        height: 225px;
        margin-top: 150px;
        margin-left: 305px;

    }

    #box3 {
        height: 225px;
        margin-left: 675px;
        margin-top: -275px;
    }

#box4 {
    margin-top: -800px;
    margin-left: 1050px;
    margin-top: -585px;
    height: 540px;

}

#box5 {
    margin-left: 900px;
    width: 700px;
    margin-left: 600px;
    margin-top: 80px;
    margin-top: 600px;
    height: 225px;
    margin-top: -15px;
    margin-left: 675px;

}

#box6 {
    margin-left: 225px;
    margin-top: -325px;
    height: 225px;
    margin-top: -375px;
    margin-left: 235px;
    margin-left: 305px;
    margin-top: -870px;
    margin-top: -275px;
}
/*
#box7 {
    
    margin-top: -900px;
    width: 200px;
    height: 450px;
    margin-top: -1000px;
    width: 225px;
    height: 400px;
    width: 245px;
    margin-top: -450px;


}
#box8 {
    width: 225px;
    height: 450px;
    margin-top: -900px;
    height: 400px;
    width: 245px;
    margin-top: -450px;
}
    */
    #box7{
        height: 400px;
        width: 245px;
        border-radius: 10px;

    }
    #box8{
        height: 355px;
        width: 245px;
    }
#div1{
    margin-top: -855px;
}
}